a.square.box {
  BACKGROUND-COLOR: TRANSPARENT;
  BORDER: 3PX SOLID #FFF;
  BOX-SIZING: BORDER-BOX;
  COLOR: #FFF;
  FLEX-BASIS: 50%;
  FLEX-GROW: 0;
  FLEX-SHRINK: 0;
  LEFT: 3PX;
  MAX-WIDTH: 50%;
  OUTLINE: 0;
  OVERFLOW: HIDDEN;
  PADDING-LEFT: 0;
  PADDING-RIGHT: 0;
  POSITION: RELATIVE;
  TEXT-DECORATION: NONE;
  TOP: 3PX;
}

.boxes-wrapper-row {
  BOX-SIZING: BORDER-BOX;
  DISPLAY: FLEX;
  FLEX-DIRECTION: ROW;
  FLEX-WRAP: WRAP;
  MARGIN-LEFT: 0;
  MARGIN-RIGHT: 0;
  TRANSFORM: TRANSLATE3D(0, 0, 0);
  WIDTH: CALC(100% - 6VW);
  WIDTH: 462PX;
  WILL-CHANGE: TRANSFORM;
}